rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /workspaces/{workspaceId} {
      allow write: if request.auth.uid == request.resource.data.ownerId;
      allow read: if true;
      match /members/{memberId} {
        allow write: if request.auth.uid == memberId && (request.resource.data.role == "owner" && request.auth.uid == get(/databases/$(database)/documents/workspaces/$(workspaceId)).data.ownerId) || (request.resource.data.role in ["viewer", "editor"]);
      }
    }
  }
}